{% extends 'base.html' %}
<head>
    {% block title %}
    <title>About</title>
    {% endblock %}
</head>

{% block content%}
<div class="container-fluid row d-flex justify-content-cente flex-wrap" style="align-items: center;">
<div class="container-fluid d-flex justify-content-center flex=wrap">
        <div class="card" style="width: 75rem; margin: 15px;">
            <img class="card-img-top" src="..." alt="">
            <div class="card-body">
                <h5 class="card-title card-text justify-content-center d-flex" style="font-size: 15pt;">About Us</h5>
                <p class="card-text justify-content-center d-flex" style="font-size: 15pt;">
                    We humbly invite you to our little corner of Carmichael.
Our wonderful chefs prepare delicious Chinese food so you can enjoy a quite and relaxing meal.  Our Mandarin, Hunan, and Szechuan Cuisine dishes are bound to satisfy your hunger.
We also prepare food for pick-up.  You may conveniently order over the phone, fax, or email pick it up and enjoy it anywhere!
We also do catering for most occasions, family gatherings or office parties.  Order in advance and we can deliver for your party.
We'd love to see you and share with you the flavors of Chinese cuisine. Family Friendly Dining Experience!
                </p>
            </div>
            </div>
    </div>

</div>

<div class="container-fluid d-flex justify-content-center row flex-wrap">
    <div class="container-fluid d-flex justify-content-center col-sm-6 col-lg-6">
        <div class="card" style="width: 80rem; margin: 15px;">
            <img class="card-img-top" src="..." alt="">
            <div class="card-body">
                <h5 class="card-title card-text justify-content-center d-flex" style="font-size: 15pt;">Got An Event Or Need Food?</h5>
                <p class="card-text justify-content-center d-flex" style="font-size: 15pt;">
                    At Blue Sky Chinese Restaurant, we can cater to your food needs. Our chefs will be be able to cook food to accomodate for the following:
                    <ul>
                        <li>Parties</li>
                        <li>Business Meetings</li>
                        <li>Family Get Togethers</li>
                        <li>Reunions</li>
                        <li>Conferences</li>
                        <li>Office Parties</li>
                        <li>Office Lunches</li>
                        <li>And More!</li>
                    </ul>
                </p>
            </div>
            </div>
    </div>
    <div class="container-fluid d-flex justify-content-center col-sm-6 col-lg-6">
        <div class="card" style="width: 80rem; margin: 15px;">
            <img class="card-img-top" src="..." alt="">
            <div class="card-body">
                <h5 class="card-title card-text justify-content-center d-flex" style="font-size: 15pt;">Got An Event Or Need Food?</h5>
                <p class="card-text justify-content-center d-flex" style="font-size: 15pt;">
                    We can happily accommodate a small party or gathering.  Our restaurant can seat 50 people comfortably.

                    We cannot book the entire place to one particular group, we don't want to exclude our faithful customers. 
                    
                    If you have a party of 25 it should be just fine.  Call us for more details if you need more seating space.
                    
                    Of course we can cater for your event, order in advance and we will have it ready for pick up or delivery. Family Friendly Dining Experience!
                </p>
            </div>
            </div>
    </div>
</div>

</div>
</div>
{% endblock %}